<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-12">
        <img width="30" height="30"  alt="Logo">
        <a class="nav-link active text-primary" href="#"><span>Inicio</span></a>
        <a class="nav-link active text-primary" href="#"><span>Historial Lecturas</span></a>
        <a class="nav-link active text-primary" href="#"><span>Lect.Tiempo Real</span></a>
      <div class="navbar-nav" alignment="right">
        <a class="nav-link  text-danger"  href="#" ><span>Logout</span></a>
      </div>
      </div>
    </div>
  </nav>
</div>
