<nav class="navbar sticky-top navbar-expand-lg letra" style="background-color: #000;">
  <a class="navbar-brand" routerLink="/lugares">
    <img width="30" height="30" src="assets/logo3.svg" alt="Logo">
  </a>
  <button class="navbar-toggler collapsed" type="button" (click)="toggleState()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [ngClass]="{ 'collapse': isCollapse }">
    <ul class="navbar-nav mr-auto">
    </ul>

    <ul class="nav navbar-nav navbar-right" *ngIf="!loggedIn">
      <li routerLinkActive="active" class="nav-item">
        <a class="nav-link letra" routerLink="" (click)="logout()">
          <i class="fa fa-plus-square-o" aria-hidden="true"></i>Logout</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right" *ngIf="loggedIn">
      <!-- <li *ngIf="loggedUser"><a>{{_autorizacionService.email}}</a></li> -->
      <li *ngIf="loggedUser">
        <a class="nav-link disabled letra"><i class="fa fa-user-o" aria-hidden="true"></i>
          {{loggedUser}}
        </a>
      </li>
      <li>
        <a class="nav-link" (click)="logout()">Logout
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
      </li>
    </ul>

  </div>
</nav>
