.img {
    height: 30vh;
    width: 50%;
    position: absolute;
}

.tam {
    padding-top: 100px;
    justify-content: right;
    padding-left: 20em;
}

.black {
    background-color: black;
}

.yello {
    color: #ffb100;
    background-color: black;
}